.manage-teachers-container {
  font-size: 12px;

  .title {
    text-align: center;
  }

  .actions {
    display: flex;

    .header-left {
      text-align: left;
    }

    .header-right {
      text-align: right;

      .btn_left {
        margin-right: 7px;
      }

      .btn_right {
        margin-left: 7px;
      }
    }

  }

  i {
    padding-right: 7px;
  }

  .actions {
    .refresh {
      margin-right: 10px;
    }
  }

  .teacher-body {
    .edit {
      color: orange;
      cursor: pointer;
      padding-right: 10px;
    }

    .delete {
      color: red;
      cursor: pointer;
    }


    .sort-header {
      display: flex;
      justify-content: space-between;

      i {
        cursor: pointer;
        padding: 0 2px;
      }
    }


  }


}